*.o
*.a
*~
*\#
typescript
autom4te.cache/
config.log
config.status
Makefile.defs
Test/TestChemicalFormula
Test/TestElementsAndIsotopes
Test/TestModifications
Test/TestAminoAcids
Test/TestPeptides
Test/TestDigestionMotif
Test/TestFragments
Test/TestMetaMorpheus
Test/TestSpectra
Test/TestProteinProperties
Test/TestProteinDigestion
Test/TestPeptideWithSetMods
Test/TestPtmListLoader
Test/TestModFits
Test/TestChromatogram
Test/TestMgf
Test/tester.mgf
Test/elements.dat
Test/TestMzML
Test/TestFlashLFQ/TestFlashLFQ
Test/TestFlashLFQ/elements.dat
Test/TestFlashLFQ/modSeq.tsv
Test/TestFlashLFQ/peaks.tsv
Test/TestFlashLFQ/mzml_1.mzML
Test/TestFlashLFQ/mzml_2.mzML
Test/DatabaseTests/TestProteomicsReadWrite
Test/DatabaseTests/TestDatabaseLoaders
Test/DatabaseTests/elements.dat
Test/DatabaseTests/rewrite_fasta.fasta
Test/DatabaseTests/rewrite_test_ensembl.pep.all.fasta
Test/DatabaseTests/fdsfsd.xml
Test/DatabaseTests/unimod_tables.xml
Test/DatabaseTests/ptmlist.txt
Test/DatabaseTests/PSI-MOD.obo.xml

